.phone-detail-page {
  h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
  }

  .phone {
    background-color: white;
    display: none;
    float: left;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
  }

  .phone.selected {
    display: block;
  }

  .phone-images {
    float: left;
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 450px;
  }

  .phone-thumbs {
    list-style: none;
    margin: 0;
  }

  .phone-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  .phone-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    transition: border-color 0.2s;

    &:hover {
      border-color: #007bff;
    }
  }

  .specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .specs dt {
    font-weight: bold;
  }

  .specs > li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
  }

  .specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
  }
}
