.tutorial-content {
    h1 {
        color: #dd0031;
        border-bottom: 1px solid gray;
        margin-top: 0;
    }

    input {
        padding: 10px;
        margin: 10px 0;
        width: 300px;
    }

    button {
        padding: 10px 20px;
        background: #dd0031;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background: #c50028;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        background: white;
        margin: 10px 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
